
#content h4 { font-family: 'Lora', serif !important; font-size: 1.3em !important; font-style: italic !important; font-weight: normal !important; color: #8d4d08 !important; margin: 100px 0px 0px 20px !important; }
#content p { font-family: 'Lora', serif !important; font-size: 0.8em !important; font-weight: normal !important; line-height: 1.2em !important; color: #2c2c2c !important; margin: 0px 0px 0px 20px !important; padding-left: 2px !important; }

#tab-interior-locs { width: 391px; height: 340px; float: left; padding: 15px 0px 0px 20px; }
#loc-pics { width: 530px; height: 340px; display: inline; padding: 0px 0px 15px 391px; margin: 0px 0px 0px 0px; }
#loc-pics img { width: 530px; height: 340px; top: 0; left: 0; padding: 0px !important; margin: 0px !important; }

.bx-next { position: relative; top: -105px; left: 345px; border: 0px !important; }
.bx-prev { position: relative; top: -105px; left: -345px; border: 0px !important; }
.bx-auto { position: absolute; top: 33px; left: 715px; border: 0px; }